<h1><%= t :site_title %></h1>
<div>
  <div class="card mb-2 button-card">
    <a class="card-body" href="<%=  %>">
      <%= t ".pages.records" %>
    </a>
  </div>
  <div class="card mb-2 button-card">
    <a class="card-body" href="<%= master_middle_index_path %>">
      <%= t ".pages.middles" %>
    </a>
  </div>
</div>