<h1><%= t(".title") %></h1>
<%= link_to t("common.back.top"), root_path, class: "backlink" %>
<div class="card p-3">
  <%= render partial: "filter" %>
</div>
<div class="p-2">
  <%= link_to t("common.create_new"), new_error_path, class: "btn btn-primary" %>
</div>
<div id="content-list" class="list p-2">
  <%= render partial: "list", locals: { errors: @errors } %>
</div>