<%= form_with model: model, url: url do |f| %>
  <div class="row align-items-center p-2 g-3">
    <div class="col-md-1">
      <%= f.label Master::Version.human_attribute_name("name"), class: "col-form-label" %>
    </div>
    <div class="col-md-2">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <% unless model.errors[:name].blank? %>
    <%= render partial: "/shared/error", locals: { model: model, attribute: :name } %>
  <% end %>
  <div class="row align-items-center p-2 g-3">
    <div class="col-md-1">
      <%= f.label Master::Version.human_attribute_name(:middle_id), class: "col-form-label" %>
    </div>
    <div class="col-md-2">
      <%= f.collection_select :middle_id, Master::Middle.all, :id, :name, { include_blank: true }, class: 'form-control form-select' %>
    </div>
  </div>
  <% unless model.errors[:middle].blank? %>
    <%= render partial: "/shared/error", locals: { model: model, attribute: :middle } %>
  <% end %>
  <div class="p-2">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>