<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || t(:site_title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="container-fluid d-flex flex-column vh-100 vw-100">
    <%= turbo_frame_tag 'modal' %>

    <div class="header row justify-content-between vw-100">
      <div class="hstack col-9">
        <%= link_to t(:site_title), root_path %>
      </div>
      <div class="hstack col-3 flex-row-reverse">
      </div>
    </div>
    <div class="p-2">
      <%= yield %>
    </div>
  </body>
</html>
